/target
/my_project_env
__pycache__
model_bnb4.onnx
/vision_models
/resources/embeddings_padded
/dist
/.idea
/resources/heroes_icons_old
/resources/templates_old
/tests/debug_logs
/tests/debug
/tests/for_recogn/screenshots